{
  "info": {
    "title": "Steera-foundation",
    "version": "1.0",
    "description": "Steera APIS"
  },
  "host": "sit.v2.backend.healthelink.com.au",
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login into Steera Application",
        "parameters": [
          {
            "name": "Credentials",
            "in": "body",
            "description": "Login credentials",
            "schema": {
              "$ref": "#/definitions/LoginCredentials"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Authenticated user details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    },
                    "ExpiresIn": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "TokenType": {
                      "type": "string"
                    },
                    "RefreshToken": {
                      "type": "string"
                    },
                    "IdToken": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "user_account_token": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "status_id": {
                          "type": "string"
                        },
                        "user_role_id": {
                          "type": "string"
                        },
                        "failures": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "lockout_expiry": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "verify_token": {
                          "type": "string"
                        },
                        "verify_expiry": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "updated_by": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "status": {
                          "type": "string"
                        },
                        "practitioner_id": {
                          "type": "string"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "roleId": {
                          "type": "string"
                        },
                        "userRole": {
                          "type": "string"
                        },
                        "practitionerFullName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to login",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/refreshToken":{
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authentication token refresh",
        "parameters": [
          {
            "name": "Refresh Token",
            "in": "body",
            "description": "Token for refreshing authentication token",
            "schema": {
              "$ref": "#/parameters/RefreshTokenBodyParams"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Token fetch successfull",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data": {
                  "type":"object",
                  "properties":{
                    "AccessToken": {
                      "type":"string"
                    },
                    "ExpiresIn": {
                      "type":"integer"
                    },
                    "TokenType": {
                      "type":"string"
                    },
                    "IdToken": {
                      "type":"string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to refresh token",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/HealthPractitionerCarer/getPractitionerCareUnits":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get Practitioner Care Units",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for getting practitioner care units",
            "schema": {
              "$ref": "#/definitions/getPractitionerCareUnitsBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch practitioner care unit details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"care unit data fetch successful"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "care_units": {
                      "type": "array",
                      "example":[{"id":"1","value":"Royal Adelaide Hospital","defaultCareLocation":true}]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch practitioner care units",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/getrefdata":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get Reference data",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "practitioner data fetch successful",
            "schema": {"$ref":"#/responses/getRefDataSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch practioner ref data",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/search":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Search health parctitioner carer",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "default":1,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "criteria for search",
            "required": true,
            "allowEmptyValue":true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "number of response data object",
            "required": true,
            "default":10,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "practitioner data fetch successful",
            "schema": {"$ref":"#/responses/SearchHealthPractitionerCarerSuccessResponse"}
          },
          "400": {
            "description": "Failed to search health carer practitioner",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/HealthPractitionerCarer/search":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Search health parctitioner carer",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for searching health practitioner carer",
            "schema": {
              "$ref": "#/parameters/SearchHealthPractitionerCarerBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for search health parctitioner carer",
            "schema": {"$ref":"#/responses/V1SearchHealthPractitionerCarerSuccessResponse" }
          },
          "400": {
            "description": "Failed to search health practitioner carer",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientPractitionerAssociation/upsert/multi":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Patient Practitioner Association add/update",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for add/update Patient Practitioner Association",
            "schema": {
              "$ref": "#/parameters/UpsertMultiHealthPractitionerassosiationBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Patient Practitioner Association records added/updated successfully",
            "schema": {"$ref":"#/responses/UpsertMultiHealthPractitionerassosiationSuccessResponse" }
          },
          "400": {
            "description": "Failed to search health practitioner carer",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientPractitionerAssociation/fetch":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get patient practitioner association details",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Patient Practitioner Association record fetch successful",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data": {
                  "type":"object",
                  "properties":{
                    "status": {
                      "type":"integer"
                    },
                    "message": {
                      "type":"string"
                    },
                    "data":{
                      "type":"array",
                      "items":{"$ref":"#/definitions/patientPractitionerAssociationData"}
                    }
                  }
                } 
              }
            }
          },
          "400": {
            "description": "Failed to fetch patient practitioner association details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/carelocation/practitioner/remove":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Remove practitioner from care location",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for removing practitioner from care location",
            "schema": {
              "$ref": "#/parameters/RemoveCareLocationFromPractitionerBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Removed practitioner from carelocation deleted successfully",
            "schema": {"$ref":"#/responses/RemoveCareLocationFromPractitionerSuccessResponse" }
          },
          "400": {
            "description": "Failed to remove practitioner from carelocation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/addPractitioner2CareUnit":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Add practitioner to care unit",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for adding practitioner to care unit",
            "schema": {
              "$ref": "#/parameters/AddPractitionerToCareUnitsBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "practitioner added to care unit",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type":"string"
                    },
                    "updatedAt":  {
                      "type":"string"
                    },
                    "id":  {
                      "type":"string"
                    },
                    "provider_number":  {
                      "type":"string"
                    },
                    "created_by":  {
                      "type":"string"
                    },
                    "updated_by":  {
                      "type":"string"
                    },
                    "practitioner_id":  {
                      "type":"string"
                    },
                    "care_unit_id":  {
                      "type":"string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch practitioner care units",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/upsertPractitioner":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Add practitioner ",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding practitioner",
            "schema": {
              "$ref": "#/parameters/AddPractitionerBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "user creation successful",
            "schema": {"$ref":"#/responses/AddPractitionerSuccessResponse" }
          },
          "400": {
            "description": "Failed to add practitioner",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/SearchCareUnit":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Search care units",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "default":1,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "criteria for search",
            "required": true,
            "allowEmptyValue":true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "number of response data object",
            "required": true,
            "default":10,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care units fetch successfully",
            "schema": {"$ref":"#/responses/SearchCareUnitsSuccessResponse"}
          },
          "400": {
            "description": "Failed to search care units",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/carelocation":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Add care location",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding carelocations",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "address_1": {
                  "type":"string"
                },
                "address_2": {
                  "type":"string"
                },
                "address_3": {
                  "type":"string"
                },
                "suburb": {
                  "type":"string"
                },
                "postcode": {
                  "type":"string"
                },
                "contact_number": {
                  "type":"string"
                },
                "contact_email": {
                  "type":"string"
                },
                "state": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "carelocation created successfully",
            "schema": {"$ref":"#/responses/AddCareLocationSuccessResponse"}
          },
          "400": {
            "description": "Failed to add care location",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Update care location",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating carelocations",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "address_1": {
                  "type":"string"
                },
                "address_2": {
                  "type":"string"
                },
                "address_3": {
                  "type":"string"
                },
                "suburb": {
                  "type":"string"
                },
                "postcode": {
                  "type":"string"
                },
                "state": {
                  "type":"string"
                },
                "contact_number": {
                  "type":"string"
                },
                "contact_email": {
                  "type":"string"
                },
                "id": {
                  "type":"string"
                },
                "practitioners": {
                  "type":"array"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "carelocation updated successfully",
            "schema": {"$ref":"#/responses/UpdateCareLocationSuccessResponse"}
          },
          "400": {
            "description": "Failed to update care location",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/carelocation/delete":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "delete care location",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for deleting carelocations",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "id":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "carelocation deleted successfully",
            "schema": {"$ref":"#/responses/DeleteCareLocationSuccessResponse"}
          },
          "400": {
            "description": "Failed to delete care location",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/fetch":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Fetch care team",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team fetch successful",
            "schema": {"$ref":"#/responses/FetchCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch care team",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "add care team",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding careteam",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id":{
                  "type":"string"
                },
                "health_practitioner_type_id":{
                  "type":"string"
                },
                "count":{
                  "type":"string"
                },
                "created_by":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team record added successfully",
            "schema": {"$ref":"#/responses/AddCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to add care team",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/update/{careTeamId}":{
      "put": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Update care team",
        "parameters": [
          {
            "name":"careTeamId",
            "in":"path",
            "description": "Id of the care team",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating care team",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id": {
                  "type":"string"
                },
                "health_practitioner_type_id": {
                  "type":"string"
                },
                "count": {
                  "type":"string"
                },
                "updated_by":{
                  "type":"string"
                },
                "id": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team record updated successfully",
            "schema": {"$ref":"#/responses/UpdateCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment option name",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/remove/{careTeamId}":{
      "delete": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "delete care team",
        "parameters": [
          {
            "name":"careTeamId",
            "in":"path",
            "description": "Id of the care team",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team record deleted successfully",
            "schema": {"$ref":"#/responses/DeleteCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to delete care team",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosis/list":{
      "get": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Get product list",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch products",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Products Listed successfully"
                },
                "data": {
                  "type": "array",
                  "example":[
                    {
                        "id": "1",
                        "code": "hepc",
                        "name": "Chronic Hepatitis C Infection",
                        "description": "Hepatitis C",
                        "details": "",
                        "created_by": "1",
                        "updated_by": null,
                        "createdAt": "2022-10-26T13:07:51.064Z",
                        "updatedAt": "2022-10-26T13:07:51.064Z"
                    }
                ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to list products",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/diagnosis":{
      "get":{
        "tags": [
          "Diagnosis"
        ],
        "summary": "Fetch diagnosis",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for fetch diagnosis",
            "schema": {"$ref":"#/responses/FetchDiagnosisSuccessResponse" }
          },
          "400": {
            "description": "Failed to fetch diagnosis",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosis":{
      "get": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Fetch diagnosis",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "diagnosis fetched successfully",
            "schema": {"$ref":"#/responses/V1FetchDiagnosisSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch diagnosis",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosisTreatmentOptions/update/{treatmentOptionId}":{
      "put": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Update diagnosis treatment option name",
        "parameters": [
          {
            "name":"treatmentOptionId",
            "in":"path",
            "description": "Id of the treatment option",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating treatment option name",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_name": {
                  "type":"string"
                },
                "updated_by": {
                  "type":"string"
                },
                "id": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment Option name updated successfully",
            "schema": {"$ref":"#/responses/UpdateTreatmentOptionNameSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment option name",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosisTreatmentOptions/remove/{treatmentOptionId}":{
      "delete": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "remove diagnosis treatment option",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Diagnosis Treatment Option record removed successfully",
            "schema": {"$ref":"#/responses/DeleteTreatmentOptionNameSuccessResponse"}
          },
          "400": {
            "description": "Failed to delete treatment option",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosisTreatmentOptions":{
      "post": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Add diagnosis treatment option",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding diagnosis treatment option",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_name": {
                  "type":"string"
                },
                "diagnosis_id": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Diagnosis treatment Option added successfully",
            "schema": {"$ref":"#/responses/AddDiagnosisTreatmentOptionSuccessResponse"}
          },
          "400": {
            "description": "Failed to add treatment option ",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientMedication/{patientId}":{
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get Patient medication",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch patient medication details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"patient medication fetched successfully"
                },
                "data": {
                  "type": "array",
                  "example":[
                    {
                      "id": "71",
                      "patient_id": "2"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch patient mdeication details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlan/fetch/{patientId}":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Get Treatment plan by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List treatment plan details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Treatment Plan and Tasks fetched successfully"
                },
                "data": {
                  "type": "array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start_date": {
                        "type": "string"
                      },
                      "approval_date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch treatment plan and tasks",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlan/fetch":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Get Treatment plan by query param",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id of the patient",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List treatment plan details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Treatment Plan and Tasks fetched successfully"
                },
                "data": {
                  "type": "array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start_date": {
                        "type": "string"
                      },
                      "approval_date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch treatment plan and tasks",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/treatment_plan/getTaskEventTypes":{
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get task event types",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Task event types fetched successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data": {
                  "type":"object",
                  "properties":{
                    "status": 200,
                    "message": "success",
                    "data": [
                      {
                        "id": {
                          "type":"string"
                        },
                        "name": {
                          "type":"string"
                        },
                        "description": {
                          "type":"string"
                        }
                      }
                    ]
                  }
                } 
              }
            }
          },
          "400": {
            "description": "Failed to fetch task event types",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatment_template/listActive":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "List active treatment templates",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List active treatment templates",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"successfully listed treatment templates"
                },
                "data": {
                  "type": "array",
                  "example": [
                    {
                      "id": "19",
                      "plan_no": "PROSTATE CANCER RADIOTHERAPY",
                      "name": "Radiotherapy",
                      "duration": null,
                      "description": "Prostate cancer Radiotherapy"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to list treatment templates",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401":{
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatment_template/create":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment template",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding treatment template",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id": {
                  "type":"string"
                },
                "diagnosis_id": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment template added successfully",
            "schema": {"$ref":"#/responses/AddTreatmentTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to add treatment template ",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/fetchByTreatmentTemplateId":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch treatment task by template id",
        "parameters": [
          {
            "name": "treatment_template_id",
            "in": "query",
            "description": "Treatment template id",
            "required": true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Template treatment task fetched successfully",
            "schema": {"$ref":"#/responses/TreatmentTemplateTaskFetchByIdSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch treatment template task ",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/update/{Id}":{
      "put": {
        "tags": [
          "Treatment"
        ],
        "summary": "Update treatment template task",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment template task",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating treatment template task",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "id": {
                  "type":"string"
                },
                "description": {
                  "type":"string"
                },
                "due_days": {
                  "type":"integer"
                },
                "responsibility_id": {
                  "type":"string"
                },
                "event_type_id": {
                  "type":"string"
                },
                "task_location_id": {
                  "type":"string"
                },
                "updated_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment template task updated successfully",
            "schema": {"$ref":"#/responses/UpdateTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/create":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment template task",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding treatment template task",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "treatment_template_id": {
                  "type":"string"
                },
                "description": {
                  "type":"string"
                },
                "due_days": {
                  "type":"string"
                },
                "responsibility_id": {
                  "type":"string"
                },
                "event_type_id": {
                  "type":"string"
                },
                "task_location_id": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment template task added successfully",
            "schema": {"$ref":"#/responses/AddTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to add treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/remove/{id}":{
      "delete": {
        "tags": [
          "Treatment"
        ],
        "summary": "Remove treatment template task",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment template task",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment template task removed successfully",
            "schema": {"$ref":"#/responses/RemoveTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to remove treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate/fetchAllActive":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch treatment template options",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Template fetched successfully",
            "schema": {"$ref":"#/responses/treatmentOptionTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch treatment options",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate/remove/{Id}":{
      "delete": {
        "tags": [
          "Treatment"
        ],
        "summary": "Remove treatment option template",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment option template",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment option template removed successfully",
            "schema": {"$ref":"#/responses/RemoveTreatmentOptionTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to remove treatment option template",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlanAndTasks":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment plan and task",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description":"Body parameters for adding treatment plan and task",
            "schema": {
              "$ref": "#/definitions/AddTreatmentPlanAndTaskBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Plan and Tasks are added successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data":{
                  "type":"object",
                  "properties":{
                    "treatmentPlanResponse": {
                      "type":"object",
                      "properties":{
                        "status": {
                          "type":"integer",
                          "default":200
                        },
                        "message": {
                          "type":"string"
                        },
                        "data": {
                          "type":"object",
                          "properties": {
                            "id": {
                              "type":"string"
                            },
                            "name": {
                              "type":"string"
                            },
                            "start_date": {
                              "type":"string"
                            },
                            "approval_date": {
                              "type":"string"
                            },
                            "review_due_date": {
                              "type":"string"
                            },
                            "status_id": {
                              "type":"string"
                            },
                            "drug_interaction_status_id": {
                              "type":"string"
                            },
                            "createdAt": {
                              "type":"string"
                            },
                            "updatedAt": {
                              "type":"string"
                            },
                            "created_by": {
                              "type":"string"
                            },
                            "updated_by": {
                              "type":"string"
                            },
                            "patient_id": {
                              "type":"string"
                            },
                            "assessment_id": {
                              "type":"string"
                            },
                            "approver_id": {
                              "type":"string"
                            },
                            "initiator_id": {
                              "type":"string"
                            },
                            "tenant_id": {
                              "type":"string"
                            },
                            "diagnosis_treatment_options_id": {
                              "type":"string"
                            },
                            "patient_diagnosis_id": {
                              "type":"string"
                            }
                          }
                        }
                      }
                    } ,
                    "treatmentTaskResponse": {
                      "type":"object",
                      "properties":{
                        "status": {
                          "type":"integer",
                          "default":200
                        },
                        "message": {
                          "type":"string"
                        },
                        "data":{
                          "type":"array",
                          "items":{
                            "type":"object",
                            "properties":                            {
                              "id": {
                                "type":"string"
                              },
                              "name": {
                                "type":"string"
                              },
                              "description": {
                                "type":"string"
                              },
                              "due_days": {
                                "type":"integer"
                              },
                              "responsibility_id": {
                                "type":"string"
                              },
                              "owner_id":{
                                "type":"string"
                              },
                              "event_type_id": {
                                "type":"string"
                              },
                              "commencement_milestone_flag": {
                                "type":"boolean"
                              },
                              "recurring": {
                                "type":"string"
                              },
                              "drug_details": {
                                "type":"string"
                              },
                              "sort_order": {
                                "type":"string"
                              },
                              "treatment_id": {
                                "type":"string"
                              },
                              "due_date": {
                                "type":"string"
                              },
                              "task_completion_date": {
                                "type":"string"
                              },
                              "task_location_id": {
                                "type":"string"
                              },
                              "completed_flag": {
                                "type":"boolean"
                              },
                              "custom_flag": {
                                "type":"boolean"
                              },
                              "createdAt": {
                                "type":"string"
                              },
                              "updatedAt": {
                                "type":"string"
                              },
                              "created_by": {
                                "type":"string"
                              },
                              "updated_by": {
                                "type":"string"
                              },
                              "tenant_id": {
                                "type":"string"
                              },
                              "survey_template_id": {
                                "type":"string"
                              },
                              "comments": {
                                "type":"string"
                              }
                            } 
                          }
                        }
                      }
                    }
                  }
                } 
              }
            }
          },
          "400": {
            "description": "Failed to add treatment plan and task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/fetch/notes":{
      "post": {
        "tags": [
          "Patient"
        ],
        "summary": "Fetch archived messages and notes",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description":"Body parameters for fetching notes and archived messages",
            "schema": {
              "$ref": "#/definitions/FetchNotesBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch archived messages and notes",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Encounter Notes Details"
                },
                "data": {
                  "type": "array",
                  "example": [
                    {
                      "id": "1",
                      "encounter_date": "2022-11-07T05:08:09.022Z",
                      "notes": "This is a demo note",
                      "title": "Demo note",
                      "createdAt": "2022-11-07T05:08:09.634Z",
                      "updatedAt": "2022-11-07T05:08:09.634Z",
                      "created_by": "1",
                      "updated_by": "1",
                      "health_practitioner_carer_id": "1",
                      "patient_id": "1",
                      "message_id": null,
                      "archived_conversation": null,
                      "tenant_id": "VASD34238VADFK54",
                      "practitioner_name": "Demo Specialist"
                    }
                ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch encounter notes",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/getUserRoles":{
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user roles",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List user roles",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"successfully fetched user roles"
                },
                "data": {
                  "type": "object",
                  "example": {
                    "status": 200,
                    "message": "success",
                    "data": [
                      {
                        "id": "2",
                        "description": "Specialist",
                        "code": "Specialist"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to list user roles",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/task/locationsList":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Get task locations",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List task locations",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Task locations fetched successfully"
                },
                "data": {
                  "type": "object",
                  "example": {
                    "status": 200,
                    "message": "success",
                    "data": [
                        {
                          "id": "1",
                          "name": "Pathology",
                          "description": "Pathology"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to list task locations",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/tenant/product/ListSubscription/{tenant_id}":{
      "get": {
        "tags": [
          "User"
        ],
        "summary": "List product subscriptions",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "description": "Id of the tenant",
            "required": true,
            "schema": {
              "type":"string"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "list product subscriptions",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"successfully added tenant product subscriptions"
                },
                "data": {
                  "type": "array",
                  "example":[
                    {
                      "id": "3",
                      "active_status": true,
                      "created_at": "2022-11-04T11:49:56.659Z",
                      "updated_at": "2022-11-04T11:49:56.659Z",
                      "created_by": "0",
                      "updated_by": null,
                      "tenant_id": "LAVDD8HJK9ADFR22",
                      "product_id": "1",
                      "product_name": "Chronic Hepatitis C Infection",
                      "product_description": "Hepatitis C"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to list product subscriptions",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/tenant/admin/details/{tenant_id}":{
      "get": {
        "tags": [
          "User"
        ],
        "summary": "List admin details",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "description": "Id of the tenant",
            "required": true,
            "schema": {
              "type":"string"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "list admin details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"successfully retrived tenant admin details"
                },
                "data": {
                  "type": "array",
                  "example":[
                    {
                        "id": "9",
                        "name": "Steera Admin",
                        "email": "steeraadmin@yopmail.com",
                        "tenant_id": "LAVDD8HJK9ADFR22"
                    }
                ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to list admin details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/tenant/product/AddSubscription":{
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Add product subscription",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddProductSubscription"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Add product subscription",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"successfully added tenant product subscription"
                },
                "data": {
                  "type": "object",
                  "example": {
                    "id": "5"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to add product subscription",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/patient/Search":{
      "post": {
        "tags": [
          "Patient"
        ],
        "summary": "Fetch Patient",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SearchPatient"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch Patients",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"patient fetched successfully"
                },
                "data": {
                  "type": "object",
                  "example": {
                    "status": 200,
                    "message": "success",
                    "data": {
                      "totalCount": 10,
                      "patients": [
                        {
                          "id": "1",
                          "title_id": null,
                          "family_name": "Harry"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch patients",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/patient/CheckPatientPreExist":{
      "post": {
        "tags": [
          "Patient"
        ],
        "summary": "Check Patient Pre Exists",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CheckPatientPreExists"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Check patient pre exists",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"status fetched sucessfully"
                },
                "data": {
                  "type": "object",
                  "example": {
                    "count": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch status",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/patient":{
      "post":{
        "tags": [
          "Patient"
        ],
        "summary": "Add patient",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for adding new patient",
            "schema": {
              "$ref": "#/parameters/CreatePatientBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for create patient",
            "schema": {
              "$ref":"#/responses/CreatePatientSucess"
            }
          },
          "400": {
            "description": "Failed response for create patient",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Failed to create patient"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/patient/findoneall/{patientID}":{
      "get":{
        "tags": [
          "Patient"
        ],
        "summary": "Find all details of the patient",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for findOneAll",
            "schema": {
              "$ref":"#/responses/FindOneAllSuccessResponse"
            }
          },
          "400": {
            "description": "Failed response for create patient",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Failed to create patient"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/medication/routes":{
      "get":{
        "tags": [
          "Patient"
        ],
        "summary": "List medication routes",
        "parameters":[
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria",
            "required": true,
            "type":"string",
            "allowEmptyValue" : true
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for list medication routes",
            "schema": {"$ref":"#/responses/ListMedicationRoutesSuccessResponse" }
          },
          "400": {
            "description": "Failed to list medication routes",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientMedication":{
      "post":{
        "tags": [
          "Patient"
        ],
        "summary": "Add patient medication",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for add patient medication",
            "schema": {
              "$ref": "#/parameters/AddPatientMedicationBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for add patient medication",
            "schema": {"$ref":"#/responses/AddPatientMedicationSuccessResponse" }
          },
          "400": {
            "description": "Failed to add patient medication",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      },
      "put":{
        "tags": [
          "Patient"
        ],
        "summary": "Update patient medication",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for patient medication update",
            "schema": {
              "$ref": "#/parameters/UpdatePatientMedicationBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for update patient medication",
            "schema": {"$ref":"#/responses/UpdatePatientMedicationSuccessResponse" }
          },
          "400": {
            "description": "Failed to update patient medication",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patient/{patientId}/medication/{medicationId}":{
      "delete":{
        "tags": [
          "Patient"
        ],
        "summary": "Delete patient medication",
        "parameters":[
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "type":"string",
            "required": true
          },
          {
            "name": "medicationId",
            "in": "path",
            "description": "Id of the patient medication",
            "required": true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "patient medication removed successfully",
            "schema": {"$ref":"#/responses/removePatientMedicationSuccessResponse" }
          },
          "400": {
            "description": "Failed to remove patient medication",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientDiagnosis":{
      "post":{
        "tags": [
          "Patient"
        ],
        "summary": "Add patient diagnosis",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for adding patient diagnosis",
            "schema": {
              "$ref": "#/parameters/AddPatientDiagnosisBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "patient diagnosis added successfully",
            "schema": {
              "$ref":"#/responses/AddPatientDiagnosisSuccessResponse"
            }
          },
          "400": {
            "description": "Failed response for add patient diagnosis",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientDiagnosis/fetch/{id}":{
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Fetch patient diagnosis details with id",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "list admin details",
            "schema": {"$ref":"#/responses/GetPatientDiagnosisDetailsSuccessResponse"}
          },
          "400": {
            "description": "Failed to get patient diagnosis details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/patientDiagnosis/update/{id}":{
      "post":{
        "tags": [
          "Patient"
        ],
        "summary": "update patient diagnosis",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for update patient diagnosis",
            "schema": {
              "$ref": "#/parameters/UpdatePatientDiagnosisBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for add patient medication",
            "schema": {"$ref":"#/responses/UpdatePatientDiagnosisSuccessResponse" }
          },
          "400": {
            "description": "Failed to update patient diagnosis",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/Snomed/search":{
      "get":{
        "tags": [
          "Patient"
        ],
        "summary": "Search Snomed",
        "parameters":[
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria",
            "type":"string",
            "required": true,
            "allowEmptyValue": true
          },
          {
            "name": "count",
            "in": "query",
            "description": "count of response data",
            "required": true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for Search snomed",
            "schema": {"$ref":"#/responses/SearchSnomedSuccessResponse" }
          },
          "400": {
            "description": "Failed to list snomed medication list",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/message/findmyMessages":{
      "get":{
        "tags":["Message"],
        "parameters":[
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type":"integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type":"integer"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for fetch messages",
            "schema": {"$ref":"#/responses/FetchMessageSuccessResponse" }
          },
          "400": {
            "description": "Failed to list snomed medication list",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/task/responsibility/fetch":{
      "get":{
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch task responsibility",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Task responsibility fetched successfully",
            "schema": {"$ref":"#/responses/taskResponsibilitySuccessResponse" }
          },
          "400": {
            "description": "Failed to list snomed medication list",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/responses/Unauthorized"
          }
        }
      }
    },
    "/surveytemplate/search":{
      "get":{
        "tags": [
          "User"
        ],
        "summary": "Fetch survey template",
        "parameters":[
          {
            "name": "from",
            "in": "query",
            "description": "Skip data ",
            "type":"integer",
            "required": true,
            "default": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "count of response data",
            "required": true,
            "type":"integer",
            "default":10
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "Search criteria",
            "required": true,
            "allowEmptyValue":true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successfully found survey templates",
[...]
