{
  "info": {
    "title": "Steera-foundation",
    "version": "1.0",
    "description": "Steera APIS"
  },
  "host": "sit.v2.backend.healthelink.com.au",
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login into Steera Application",
        "parameters": [
          {
            "name": "Credentials",
            "in": "body",
            "description": "Login credentials",
            "schema": {
              "$ref": "#/definitions/LoginCredentials"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Authenticated user details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    },
                    "ExpiresIn": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "TokenType": {
                      "type": "string"
                    },
                    "RefreshToken": {
                      "type": "string"
                    },
                    "IdToken": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "user_account_token": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "status_id": {
                          "type": "string"
                        },
                        "user_role_id": {
                          "type": "string"
                        },
                        "failures": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "lockout_expiry": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "verify_token": {
                          "type": "string"
                        },
                        "verify_expiry": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "updated_by": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "status": {
                          "type": "string"
                        },
                        "practitioner_id": {
                          "type": "string"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "roleId": {
                          "type": "string"
                        },
                        "userRole": {
                          "type": "string"
                        },
                        "practitionerFullName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to login",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/refreshToken":{
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authentication token refresh",
        "parameters": [
          {
            "name": "Refresh Token",
            "in": "body",
            "description": "Token for refreshing authentication token",
            "schema": {
              "$ref": "#/definitions/RefreshTokenBodyParams"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Token fetch successfull",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data": {
                  "type":"object",
                  "properties":{
                    "AccessToken": {
                      "type":"string"
                    },
                    "ExpiresIn": {
                      "type":"integer"
                    },
                    "TokenType": {
                      "type":"string"
                    },
                    "IdToken": {
                      "type":"string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to refresh token",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/forgotPassword":{
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send confirmation code request",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for requesting confirmation",
            "schema": {
              "type": "object",
              "properties":{
                "username":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "forgot password confirmation send successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                }
              }
            }
          },
          "400": {
            "description": "Failed to send confirmation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/confirmForgotPassword":{
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "reset password",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for reset password",
            "schema": {
              "type": "object",
              "properties":{
                "confirmationCode":{
                  "type":"string"
                },
                "password":{
                  "type":"string"
                },
                "username":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "password reset successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message":{
                  "type":"string"
                }
              }
            }
          },
          "400": {
            "description": "Failed to reset password",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/respondToAuthChallenge":{
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Respond to authentication challenge for reset password",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for auth challenge",
            "schema": {
              "type": "object",
              "properties":{
                "session":{
                  "type":"string"
                },
                "newPassword":{
                  "type":"string"
                },
                "username":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "forgot password confirmation send successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    },
                    "ExpiresIn": {
                      "type": "integer"
                    },
                    "TokenType": {
                      "type": "string"
                    },
                    "RefreshToken": {
                      "type": "string"
                    },
                    "IdToken": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "user_account_token": {
                          "type": "string"
                        },
                        "status_id": {
                          "type": "string"
                        },
                        "user_role_id": {
                          "type": "string"
                        },
                        "failures": {
                          "type": "string"
                        },
                        "lockout_expiry": {
                          "type": "string"
                        },
                        "verify_token": {
                          "type": "string"
                        },
                        "verify_expiry": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "updated_by": {
                          "type": "string"
                        },
                        "tenant_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "practitioner_id": {
                          "type": "string"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "roleId": {
                          "type": "string"
                        },
                        "userRole": {
                          "type": "string"
                        },
                        "practitionerFullName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to auth challenge",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/HealthPractitionerCarer/getPractitionerCareUnits":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get Practitioner Care Units",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for getting practitioner care units",
            "schema": {
              "$ref": "#/definitions/getPractitionerCareUnitsBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch practitioner care unit details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"care unit data fetch successful"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "care_units": {
                      "type": "array",
                      "example":[{"id":"1","value":"Royal Adelaide Hospital","defaultCareLocation":true}]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch practitioner care units",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/getrefdata":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get Reference data",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "practitioner data fetch successful",
            "schema": {"$ref":"#/definitions/getRefDataSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch practioner ref data",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/search":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Search health parctitioner carer",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "default":1,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "criteria for search",
            "required": true,
            "allowEmptyValue":true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "number of response data object",
            "required": true,
            "default":10,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "practitioner data fetch successful",
            "schema": {"$ref":"#/definitions/SearchHealthPractitionerCarerSuccessResponse"}
          },
          "400": {
            "description": "Failed to search health carer practitioner",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/HealthPractitionerCarer/search":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Search health parctitioner carer",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for searching health practitioner carer",
            "schema": {
              "$ref": "#/definitions/SearchHealthPractitionerCarerBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for search health parctitioner carer",
            "schema": {"$ref":"#/definitions/V1SearchHealthPractitionerCarerSuccessResponse" }
          },
          "400": {
            "description": "Failed to search health practitioner carer",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/patientPractitionerAssociation/upsert/multi":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Patient Practitioner Association add/update",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for add/update Patient Practitioner Association",
            "schema": {
              "$ref": "#/definitions/UpsertMultiHealthPractitionerassosiationBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Patient Practitioner Association records added/updated successfully",
            "schema": {"$ref":"#/definitions/UpsertMultiHealthPractitionerassosiationSuccessResponse" }
          },
          "400": {
            "description": "Failed to search health practitioner carer",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/patientPractitionerAssociation/fetch":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get patient practitioner association details",
        "parameters": [
          {
            "name": "patient_id",
            "in": "query",
            "description": "Id of the patient",
            "required": true,
            "default":1,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "patient_diagnosis_id",
            "in": "query",
            "description": "Id of the patient diagnosis",
            "required": true,
            "allowEmptyValue":true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Patient Practitioner Association record fetch successful",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data": {
                  "type":"object",
                  "properties":{
                    "status": {
                      "type":"integer"
                    },
                    "message": {
                      "type":"string"
                    },
                    "data":{
                      "type":"array",
                      "items":{"$ref":"#/definitions/patientPractitionerAssociationData"}
                    }
                  }
                } 
              }
            }
          },
          "400": {
            "description": "Failed to fetch patient practitioner association details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/Document/generatePresignedURL":{
      "post":{
        "tags": [
          "Patient"
        ],
        "summary": "generate pre signed url",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for generating pre signed url",
            "schema": {
              "type":"object",
              "properties":{
                "filename":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Generated pre signed URL",
            "schema": {
              "type":"object",
              "properties":{
                "message":{
                  "type":"string"
                },
                "data":{
                  "type":"object",
                  "properties":{
                    "status":{
                      "type":"integer"
                    },
                    "message":{
                      "type":"string"
                    },
                    "data":{
                      "type":"object",
                      "properties":{
                        "url":{
                          "type":"string"
                        },
                        "fields":{
                          "type":"object",
                          "properties":{
                            "key":{
                              "type":"string"
                            },
                            "bucket":{
                              "type":"string"
                            },
                            "X-Amz-Algorithm":{
                              "type":"string"
                            },
                            "X-Amz-Credential":{
                              "type":"string"
                            },"X-Amz-Date":{
                              "type":"string"
                            },
                            "Policy":{
                              "type":"string"
                            },
                            "X-Amz-Signature":{
                              "type":"string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to generate pre signed URL",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/getMyPatients":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get my patients",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for getting my patients",
            "schema": {
              "$ref": "#/definitions/GetMyPatientsBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successfully fetched my patients",
            "schema": {"$ref":"#/definitions/GetMyPatientsSuccessResponse" }
          },
          "400": {
            "description": "Failed to get patients",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/carelocation/practitioner/remove":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Remove practitioner from care location",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for removing practitioner from care location",
            "schema": {
              "$ref": "#/definitions/RemoveCareLocationFromPractitionerBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Removed practitioner from carelocation deleted successfully",
            "schema": {"$ref":"#/definitions/RemoveCareLocationFromPractitionerSuccessResponse" }
          },
          "400": {
            "description": "Failed to remove practitioner from carelocation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/addPractitioner2CareUnit":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Add practitioner to care unit",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameters for adding practitioner to care unit",
            "schema": {
              "$ref": "#/definitions/AddPractitionerToCareUnitsBodyParam"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "practitioner added to care unit",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type":"string"
                    },
                    "updatedAt":  {
                      "type":"string"
                    },
                    "id":  {
                      "type":"string"
                    },
                    "provider_number":  {
                      "type":"string"
                    },
                    "created_by":  {
                      "type":"string"
                    },
                    "updated_by":  {
                      "type":"string"
                    },
                    "practitioner_id":  {
                      "type":"string"
                    },
                    "care_unit_id":  {
                      "type":"string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch practitioner care units",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/upsertPractitioner":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Add practitioner ",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding practitioner",
            "schema": {
              "$ref": "#/definitions/AddPractitionerBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "user creation successful",
            "schema": {"$ref":"#/definitions/AddPractitionerSuccessResponse" }
          },
          "400": {
            "description": "Failed to add practitioner",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/getPatientRecipients":{
      "post":{
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Get patients recipients",
        "parameters":[
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for get patient recipients",
            "schema": {
              "$ref": "#/definitions/GetPatientRecipientsBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successfully fetched my patients",
            "schema": {"$ref":"#/definitions/GetPatientRecipientsSuccessResponse" }
          },
          "400": {
            "description": "Failed to get patients",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/HealthPractitionerCarer/SearchCareUnit":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Search care units",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "default":1,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "criteria for search",
            "required": true,
            "allowEmptyValue":true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "number of response data object",
            "required": true,
            "default":10,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care units fetch successfully",
            "schema": {"$ref":"#/definitions/SearchCareUnitsSuccessResponse"}
          },
          "400": {
            "description": "Failed to search care units",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/carelocation":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Add care location",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding carelocations",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "address_1": {
                  "type":"string"
                },
                "address_2": {
                  "type":"string"
                },
                "address_3": {
                  "type":"string"
                },
                "suburb": {
                  "type":"string"
                },
                "postcode": {
                  "type":"string"
                },
                "contact_number": {
                  "type":"string"
                },
                "contact_email": {
                  "type":"string"
                },
                "state": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "carelocation created successfully",
            "schema": {"$ref":"#/definitions/AddCareLocationSuccessResponse"}
          },
          "400": {
            "description": "Failed to add care location",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Update care location",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating carelocations",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "address_1": {
                  "type":"string"
                },
                "address_2": {
                  "type":"string"
                },
                "address_3": {
                  "type":"string"
                },
                "suburb": {
                  "type":"string"
                },
                "postcode": {
                  "type":"string"
                },
                "state": {
                  "type":"string"
                },
                "contact_number": {
                  "type":"string"
                },
                "contact_email": {
                  "type":"string"
                },
                "id": {
                  "type":"string"
                },
                "practitioners": {
                  "type":"array"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "carelocation updated successfully",
            "schema": {"$ref":"#/definitions/UpdateCareLocationSuccessResponse"}
          },
          "400": {
            "description": "Failed to update care location",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/carelocation/delete":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "delete care location",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for deleting carelocations",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "id":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "carelocation deleted successfully",
            "schema": {"$ref":"#/definitions/DeleteCareLocationSuccessResponse"}
          },
          "400": {
            "description": "Failed to delete care location",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/fetch":{
      "get": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Fetch care team",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team fetch successful",
            "schema": {"$ref":"#/definitions/FetchCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch care team",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "add care team",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding careteam",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id":{
                  "type":"string"
                },
                "health_practitioner_type_id":{
                  "type":"string"
                },
                "count":{
                  "type":"string"
                },
                "created_by":{
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team record added successfully",
            "schema": {"$ref":"#/definitions/AddCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to add care team",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/fetchByPost":{
      "post": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "fetch care team by post",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for fetch care team by post",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id":{
                  "type":"array",
                  "items":{
                    "type":"integer"
                  }
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team fetch successful",
            "schema": {"$ref":"#/definitions/FetchCareTeamByPostSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch care team by post",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/update/{careTeamId}":{
      "put": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "Update care team",
        "parameters": [
          {
            "name":"careTeamId",
            "in":"path",
            "description": "Id of the care team",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating care team",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id": {
                  "type":"string"
                },
                "health_practitioner_type_id": {
                  "type":"string"
                },
                "count": {
                  "type":"string"
                },
                "updated_by":{
                  "type":"string"
                },
                "id": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team record updated successfully",
            "schema": {"$ref":"#/definitions/UpdateCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment option name",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/careTeam/remove/{careTeamId}":{
      "delete": {
        "tags": [
          "HealthPractitionerCarer"
        ],
        "summary": "delete care team",
        "parameters": [
          {
            "name":"careTeamId",
            "in":"path",
            "description": "Id of the care team",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Care Team record deleted successfully",
            "schema": {"$ref":"#/definitions/DeleteCareTeamSuccessResponse"}
          },
          "400": {
            "description": "Failed to delete care team",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosis/list":{
      "get": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Get product list",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch products",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Products Listed successfully"
                },
                "data": {
                  "type": "array",
                  "example":[
                    {
                        "id": "1",
                        "code": "hepc",
                        "name": "Chronic Hepatitis C Infection",
                        "description": "Hepatitis C",
                        "details": "",
                        "created_by": "1",
                        "updated_by": null,
                        "createdAt": "2022-10-26T13:07:51.064Z",
                        "updatedAt": "2022-10-26T13:07:51.064Z"
                    }
                ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to list products",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/diagnosis":{
      "get":{
        "tags": [
          "Diagnosis"
        ],
        "summary": "Fetch diagnosis",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success response for fetch diagnosis",
            "schema": {"$ref":"#/definitions/FetchDiagnosisSuccessResponse" }
          },
          "400": {
            "description": "Failed to fetch diagnosis",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosis":{
      "get": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Fetch diagnosis",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "diagnosis fetched successfully",
            "schema": {"$ref":"#/definitions/V1FetchDiagnosisSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch diagnosis",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosisTreatmentOptions/update/{treatmentOptionId}":{
      "put": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Update diagnosis treatment option name",
        "parameters": [
          {
            "name":"treatmentOptionId",
            "in":"path",
            "description": "Id of the treatment option",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating treatment option name",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_name": {
                  "type":"string"
                },
                "updated_by": {
                  "type":"string"
                },
                "id": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment Option name updated successfully",
            "schema": {"$ref":"#/definitions/UpdateTreatmentOptionNameSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment option name",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosisTreatmentOptions/remove/{treatmentOptionId}":{
      "delete": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "remove diagnosis treatment option",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Diagnosis Treatment Option record removed successfully",
            "schema": {"$ref":"#/definitions/DeleteTreatmentOptionNameSuccessResponse"}
          },
          "400": {
            "description": "Failed to delete treatment option",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/diagnosisTreatmentOptions":{
      "post": {
        "tags": [
          "Diagnosis"
        ],
        "summary": "Add diagnosis treatment option",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding diagnosis treatment option",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_name": {
                  "type":"string"
                },
                "diagnosis_id": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Diagnosis treatment Option added successfully",
            "schema": {"$ref":"#/definitions/AddDiagnosisTreatmentOptionSuccessResponse"}
          },
          "400": {
            "description": "Failed to add treatment option ",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/patientMedication/{patientId}":{
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get Patient medication",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Fetch patient medication details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"patient medication fetched successfully"
                },
                "data": {
                  "type": "array",
                  "example":[
                    {
                      "id": "71",
                      "patient_id": "2"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch patient mdeication details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlan/fetch/{treatmentPlanID}":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Get Treatment plan by ID",
        "parameters": [
          {
            "name": "treatmentPlanID",
            "in": "path",
            "description": "Id of the treatment plan",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List treatment plan details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Treatment Plan and Tasks fetched successfully"
                },
                "data": {
                  "type": "array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start_date": {
                        "type": "string"
                      },
                      "approval_date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch treatment plan and tasks",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlan/fetch":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Get Treatment plan by query param",
        "parameters": [
          {
            "name": "patient_id",
            "in": "query",
            "description": "Id of the patient",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List treatment plan details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"Treatment Plan and Tasks fetched successfully"
                },
                "data": {
                  "type": "array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start_date": {
                        "type": "string"
                      },
                      "approval_date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch treatment plan and tasks",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlan/fetchByResposibility":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Get Treatment plan by query param",
        "parameters": [
          {
            "name": "patient_id",
            "in": "query",
            "description": "Id of the patient",
            "required": true,
            "schema": {
              "type":"integer",
              "format":"int"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List treatment plan details",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                    "type":"string"
                },
                "data": {
                    "type":"object",
                    "properties":{
                        "status": {
                            "type":"integer"
                        },
                        "message": {
                            "type":"string"
                        },
                        "data": {
                            "type":"array"
                        }
                    }
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch treatment plan and tasks",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/treatment_plan/getTaskEventTypes":{
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get task event types",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Task event types fetched successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data": {
                  "type":"object",
                  "properties":{
                    "status": {
                      "type":"integer",
                      "default":200
                    },
                    "message": {
                      "type":"string"
                    },
                    "data": {
                      "type":"array",
                      "items":{
                        "type":"object",
                        "properties": {
                          "id": {
                            "type":"string"
                          },
                          "name": {
                            "type":"string"
                          },
                          "description": {
                            "type":"string"
                          }
                        }
                      }
                    }
                  }
                } 
              }
            }
          },
          "400": {
            "description": "Failed to fetch task event types",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatment_template/listActive":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "List active treatment templates",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List active treatment templates",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example":"successfully listed treatment templates"
                },
                "data": {
                  "type": "array",
                  "example": [
                    {
                      "id": "19",
                      "plan_no": "PROSTATE CANCER RADIOTHERAPY",
                      "name": "Radiotherapy",
                      "duration": null,
                      "description": "Prostate cancer Radiotherapy"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failed to list treatment templates",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401":{
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatment_template/create":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment template",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding treatment template",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "treatment_options_id": {
                  "type":"string"
                },
                "diagnosis_id": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment template added successfully",
            "schema": {"$ref":"#/definitions/AddTreatmentTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to add treatment template ",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatment_template/remove/{Id}":{
      "delete": {
        "tags": [
          "Treatment"
        ],
        "summary": "Delete Treatment template",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment template",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successfully soft deleted Treatment template",
            "schema": {"$ref":"#/definitions/DeleteTreatmentTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to remove treatment template",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/fetchByTreatmentTemplateId":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch treatment task by template id",
        "parameters": [
          {
            "name": "treatment_template_id",
            "in": "query",
            "description": "Treatment template id",
            "required": true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Template treatment task fetched successfully",
            "schema": {"$ref":"#/definitions/TreatmentTemplateTaskFetchByIdSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch treatment template task ",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/update/{Id}":{
      "put": {
        "tags": [
          "Treatment"
        ],
        "summary": "Update treatment template task",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment template task",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating treatment template task",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "id": {
                  "type":"string"
                },
                "description": {
                  "type":"string"
                },
                "due_days": {
                  "type":"integer"
                },
                "responsibility_id": {
                  "type":"string"
                },
                "event_type_id": {
                  "type":"string"
                },
                "task_location_id": {
                  "type":"string"
                },
                "updated_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment template task updated successfully",
            "schema": {"$ref":"#/definitions/UpdateTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/create":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment template task",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding treatment template task",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "name": {
                  "type":"string"
                },
                "treatment_template_id": {
                  "type":"string"
                },
                "description": {
                  "type":"string"
                },
                "due_days": {
                  "type":"string"
                },
                "responsibility_id": {
                  "type":"string"
                },
                "event_type_id": {
                  "type":"string"
                },
                "task_location_id": {
                  "type":"string"
                },
                "created_by": {
                  "type":"string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment template task added successfully",
            "schema": {"$ref":"#/definitions/AddTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to add treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentTemplateTask/remove/{id}":{
      "delete": {
        "tags": [
          "Treatment"
        ],
        "summary": "Remove treatment template task",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment template task",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment template task removed successfully",
            "schema": {"$ref":"#/definitions/RemoveTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to remove treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate/fetchAllActive":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch treatment template options",
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Template fetched successfully",
            "schema": {"$ref":"#/definitions/treatmentOptionTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch treatment options",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate/fetch":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch treatment options template",
        "parameters": [
          {
            "name": "diagnosis_treatment_options_id",
            "in": "query",
            "description": "diagnosis treatment option id",
            "required": true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Template fetched successfully",
            "schema": {"$ref":"#/definitions/TreatmentOptionsFetchSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch treatment options",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsResponse/fetch":{
      "get": {
        "tags": [
          "Treatment"
        ],
        "summary": "Fetch treatment options template",
        "parameters": [
          {
            "name": "patient_diagnosis_id",
            "in": "query",
            "description": "Id of the patient diagnosis",
            "required": true,
            "type":"string"
          },
          {
            "name": "treatment_options_template_id",
            "in": "query",
            "description": "Id of the treatment option template",
            "required": true,
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Response fetched successfully",
            "schema": {"$ref":"#/definitions/TreatmentOptionsResponseFetchSuccessResponse"}
          },
          "400": {
            "description": "Failed to fetch treatment option response",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsResponse":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment option response",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for adding treatment option response",
            "schema": {
              "$ref": "#/definitions/AddTreatmentOptionResponseBodyParams"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Response added successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message":{
                  "type":"string"
                },
                "data":{
                  "type":"object",
                  "properties":{
                    "status":{
                     "type":"integer",
                     "default":200
                   },
                    "message":{
                     "type":"string"
                   },
                    "data":{
                     "type":"object",
                     "properties":{
                      "id":{
                        "type":"string"
                      },
                      "patient_diagnosis_id":{
                        "type":"string"
                      },
                      "diagnosis_treatment_options_id":{
                        "type":"string"
                      },
                      "treatment_options_template_id":{
                        "type":"string"
                      },
                      "template_response":{
                        "type":"object",
                        "properties":{
                          "dateOfDiagnosis":{
                           "type":"string"
                         },
                          "prostateAndPelvicNodes":{
                           "type":"string"
                         },
                          "prostateAndPelvicEndDate":{
                           "type":"string"
                         },
                          "prostate":{
                           "type":"string"
                         },
                          "prostateEndDate":{
                           "type":"string"
                         },
                          "brachyTherapy":{
                           "type":"string"
                         },
                          "brachyTherapyEndDate":{
                           "type":"string"
                         },
                          "radiationDose":{
                           "type":"string"
                         }
                       }
                      },
                      "created_by":{
                        "type":"string"
                      },
                      "createdAt":{
                        "type":"string"
                      },
                      "updated_by":{
                        "type":"string"
                      },
                      "updatedAt":{
                        "type":"string"
                      }
                    }
                   }
                  }
                }
              }
            } 
          },
          "400": {
            "description": "Failed to refresh token",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          }
        }
      }
    },
    "/v1/treatmentOptionsResponse/update/{Id}":{
      "put": {
        "tags": [
          "Treatment"
        ],
        "summary": "Update treatment option response",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment option response",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "description": "Body parameter for updating treatment option response",
            "required": true,
            "schema": {
              "type":"object",
              "properties":{
                "diagnosis_treatment_options_id":{
                  "type": "string"
                },
                "patient_diagnosis_id":{
                  "type": "string"
                },
                "template_response":{
                  "type": "object",
                  "properties": {
                    "dateOfDiagnosis":{
                     "type": "string"
                   },
                    "prostateAndPelvicNodes":{
                     "type": "string"
                   },
                    "prostateAndPelvicEndDate":{
                     "type": "string"
                   },
                    "prostate":{
                     "type": "string"
                   },
                    "prostateEndDate":{
                     "type": "string"
                   },
                    "brachyTherapy":{
                     "type": "string"
                   },
                    "brachyTherapyEndDate":{
                     "type": "string"
                   },
                    "radiationDose":{
                     "type": "string"
                   }
                 }
                },
                "treatment_options_template_id":{
                  "type": "string"
                },
                "updated_by":{
                  "type": "string"
                }
              }
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment template task updated successfully",
            "schema": {"$ref":"#/definitions/UpdateTreatmentTemplateTaskSuccessResponse"}
          },
          "400": {
            "description": "Failed to update treatment template task",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate/remove/{Id}":{
      "delete": {
        "tags": [
          "Treatment"
        ],
        "summary": "Remove treatment option template",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment option template",
            "type":"string"
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": " Treatment option template removed successfully",
            "schema": {"$ref":"#/definitions/RemoveTreatmentOptionTemplateSuccessResponse"}
          },
          "400": {
            "description": "Failed to remove treatment option template",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment option template",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description":"Body parameters for adding treatment option template",
            "schema": {
              "$ref": "#/definitions/AddTreatmentOptionTemplateBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Template added successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message":{
                  "type":"string"
                },
                "data":{
                  "type":"object",
                  "properties":{
                    "status":{
                     "type":"integer",
                     "default":200
                    },
                    "message":{
                     "type":"string"
                    },
                    "data":{
                      "type":"object",
                      "properties":{
                        "id":{
                          "type":"string"
                        },
                        "diagnosis_treatment_options_id":{
                          "type":"string"
                        },
                        "version":{
                          "type":"string"
                        },
                        "template":{"$ref":"#/definitions/templateArrayData"},
                        "tenant_id":{
                          "type":"string"
                        },
                        "deletedAt":{
                          "type":"string"
                        },
                        "created_by":{
                          "type":"string"
                        },
                        "createdAt":{
                          "type":"string"
                        },
                        "updated_by":{
                          "type":"string"
                        },
                        "updatedAt":{
                          "type":"string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to add Treatment Options Template",
            "schema": {
              "type": "object",
              "properties": {
                "message":{
                  "type":"string"
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentOptionsTemplate/update/{Id}":{
      "put":{
        "tags": [
          "Treatment"
        ],
        "summary": "Update treatment option template",
        "parameters": [
          {
            "name":"Id",
            "in":"path",
            "description": "Id of the treatment option template",
            "type":"string"
          },
          {
            "name": "Body Parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateTreatmentOptionTemplateBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Options Template updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties":{
                    "status":{
                      "type": "integer"
                    },
                    "message":{
                      "type": "string"
                    },
                    "data":{
                      "type":"object",
                      "properties":{
                        "generatedMaps":{
                         "type": "array"
                       },
                        "raw":{
                          "type":"array",
                          "items":{
                            "type":"object",
                            "properties": {
                              "id":{
                               "type": "string"
                             },
                              "diagnosis_treatment_options_id":{
                               "type": "string"
                             },
                              "version":{
                               "type": "string"
                             },
                              "template":{
                               "type":"array",
                               "items":{
                                 "type":"object",
                                 "properties":{
                                   "title":{
                                    "type": "string"
                                  },
                                   "path":{
                                    "type": "string"
                                  },
                                   "pathId":{
                                    "type": "string"
                                  },
                                   "options":{
                                    "type":"object",
                                    "properties":{
                                      "paddingTop": {"$ref":"#/definitions/optionObjectData"},
                                      "paddingBottom": {"$ref":"#/definitions/optionObjectData"},
                                      "paddingLeft": {"$ref":"#/definitions/optionObjectData"},
                                      "paddingRight": {"$ref":"#/definitions/optionObjectData"},
                                      "flexDirection": {"$ref":"#/definitions/optionObjectData"}
                                    }
                                  },
                                   "children":{
                                    "type":"array",
                                    "items":{"$ref":"#/definitions/childerArrayData"}
                                  }
                                }
                               }
                              },
                              "tenant_id":{
                               "type": "string"
                             },
                              "deletedAt":{
                               "type": "string"
                             },
                              "created_by":{
                               "type": "string"
                             },
                              "createdAt":{
                               "type": "string"
                             },
                              "updated_by":{
                               "type": "string"
                             },
                              "updatedAt":{
                               "type": "string"
                             }
                           }
                          }
                        },
                        "affected":{
                         "type":"integer"
                        }
                     }
                    }
                 }
                }
              }
            }
          },
          "400": {
            "description": "Failed to update treatment option template",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "default": 400
                }
              }
            }
          },
          "401": {
            "$ref":"#/definitions/Unauthorized"
          }
        }
      }
    },
    "/v1/treatmentPlanAndTasks":{
      "post": {
        "tags": [
          "Treatment"
        ],
        "summary": "Add treatment plan and task",
        "parameters": [
          {
            "name": "Body Parameters",
            "in": "body",
            "description":"Body parameters for adding treatment plan and task",
            "schema": {
              "$ref": "#/definitions/AddTreatmentPlanAndTaskBodyParams"
            }
          }
        ],
        "security": [{ "Bearer": [] }],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Treatment Plan and Tasks are added successfully",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type":"string"
                },
                "data":{
                  "type":"object",
                  "properties":{
                    "treatmentPlanResponse": {
                      "type":"object",
                      "properties":{
                        "status": {
                          "type":"integer",
                          "default":200
                        },
                        "message": {
                          "type":"string"
                        },
                        "data": {
                          "type":"object",
                          "properties": {
                            "id": {
                              "type":"string"
                            },
                            "name": {
                              "type":"string"
                            },
                            "start_date": {
                              "type":"string"
                            },
                            "approval_date": {
                              "type":"string"
                            },
                            "review_due_date": {
[...]
